<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <title>Foo forum</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/scripts/app/bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="~/scripts/app/bower_components/html5-boilerplate/css/main.css">
    <script src="~/scripts/app/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/themes" class="navbar-brand">Foo forum</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/register">Register</a></li>
                    <li><a href="#/login">Log in</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer> <p>&copy; @DateTime.Now.Year - Foo forum</p> </footer>
    </div>
    
    <script src="~/scripts/app/bower_components/angular/angular.js"></script>
    <script src="~/scripts/app/bower_components/angular-route/angular-route.js"></script>
    <script src="~/scripts/app/components/version/version.js"></script>
    <script src="~/scripts/app/components/version/version-directive.js"></script>
    <script src="~/scripts/app/components/version/interpolate-filter.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <!-- App scripts -->
    <script src="~/scripts/app/app.js"></script>
    <script src="~/scripts/app/services/accountService.js"></script>
    <script src="~/scripts/app/services/themesService.js"></script>
    <script src="~/scripts/app/register/register.js"></script>
    <script src="~/scripts/app/login/login.js"></script>
    <script src="~/scripts/app/themes/themes.js"></script>
</body>
</html>